.cccg {
    height: 160px;
    width: 110px;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 80px;

    background-color: burlywood;
    background-clip: border-box;

    border: 2px solid darkred;
    border-radius: .5rem;

    /*word-wrap: break-word;*/
    /*position: relative;*/
    /*display: flex;*/
    /*max-width: 8.333333%;*/
    /*flex-direction: column;*/
    /*min-width: 0;*/
}

.playerImage {
    height: 200px;
    width: 200px;
    margin-left: 40px;

}

.playerImage img {
    position: center;
    top: -28%;
    left: 3%;
    height: 200px;
    width: 200px;
    border-radius: 70%;
}

body {
    background: url("https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F778575%252F7c05ce95-92d8-4f9b-87d7-7de65c97fbce.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=O_MA4nGR2FpElykY8ClbHI9HiZs=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

hr {
    border: none;
    background-color: deepskyblue;
}

/* Playing Card CSS FROM HERE */

.playing-card {
    border-style: solid;
    border-width: 2px;
    border-radius: .5rem;
    width: 100px;
    height: 150px;
    background-image: url("https://i.imgur.com/XERMOiE.png");
    background-size: 100px 150px;
    text-align: center;
}

.playing-card .power-number {
    position: relative;
    left: -40%;
    top: 124px;
    display: inline;
    color: dimgray;
}

.playing-card .health-number {
    position: relative;
    left: 40%;
    top: 10px;
    display: inline;
    color: red;
}

.playing-card .mana-number {
    position: relative;
    left: 0;
    top: -95%;
    color: blue;
}

.playing-card img {
    position: relative;
    top: -28%;
    left: 3%;
    width: 90px;
    height: 90px;
}

.playing-card .card-name {
    position: relative;
    top: -19%;
    font-size: xx-small;
}

/* Playing Card CSS ENDS HERE */