.cccg {
    height: 160px;
    width: 110px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 80px;

    background-color: rgba(0,0,0,0.45);
    background-clip: border-box;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.71);
    /*border: 2px solid darkred;*/
    border-radius: .5rem;

    /*word-wrap: break-word;*/
    /*position: relative;*/
    /*display: flex;*/
    /*max-width: 8.333333%;*/
    /*flex-direction: column;*/
    /*min-width: 0;*/
}

.playerImage {
    height: 200px;
    width: 200px;
    margin-left: 40px;

}

.playerImage img {
    position: center;
    top: -28%;
    left: 3%;
    height: 200px;
    width: 200px;
    border-radius: 70%;
    border: 4px solid #021a40;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.71);
}

body {
    background: url("https://cdn.discordapp.com/attachments/582543746680225802/583624228977246210/20190530_135252.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

hr {
    border: none;
    background-color: deepskyblue;
}

.fight {
    background-color: darkred;
    position:relative;
    left: 110px;
    top: 50px;
    color: #FFFFFF;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px
}

/* Playing Card CSS FROM HERE */

.playing-card {
    border-style: solid;
    border-width: 2px;
    border-radius: .5rem;
    width: 100px;
    height: 150px;
    background-image: url("https://i.imgur.com/XERMOiE.png");
    background-size: 100px 150px;
    text-align: center;
}

.playing-card .power-number {
    position: relative;
    left: -40%;
    top: 124px;
    display: inline;
    color: dimgray;
}

.playing-card .health-number {
    position: relative;
    left: 40%;
    top: 10px;
    display: inline;
    color: red;
}

.playing-card .mana-number {
    position: relative;
    left: 0;
    top: -95%;
    color: blue;
}

.playing-card img {
    position: relative;
    top: -28%;
    left: 3%;
    width: 90px;
    height: 90px;
}

.playing-card .card-name {
    position: relative;
    top: -19%;
    font-size: 8px;
}

/* Playing Card CSS ENDS HERE */

#player-health {
    width: 150px;
    height: 150px;
    color: red;
    background-image: url("https://i.imgur.com/Jqcu9mx.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 140px;
    font-size: 35px;
    font-weight: bolder;
    -webkit-text-stroke: 2px darkred;

}

#player-health img {
    position: relative;
    top: -95%;
    width: 150px;
    height: 150px;
    float: top;
}

