.cccg {
    height: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 80px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    position: relative;
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    /*width: 100%;*/
    /*min-height: 1px;*/
    padding: 5px;

}

.player {
    padding: 50px;
}

/* Playing Card CSS FROM HERE */

.playing-card {
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 150px;
    background-image: url("https://i.imgur.com/XERMOiE.png");
    background-size: 100px 150px;
    text-align: center;
}

.playing-card .power-number {
    position: relative;
    left: -40%;
    top: 128px;
    display: inline;
    color: dimgray;
}

.playing-card .health-number {
    position: relative;
    left: 40%;
    top: 10px;
    display: inline;
    color: red;
}

.playing-card .mana-number {
    position: relative;
    left: 0;
    top: -95%;
    color: blue;
}

.playing-card img {
    position: relative;
    top: -28%;
    left: 3%;
    width: 90px;
    height: 90px;
}

.playing-card .card-name {
    position: relative;
    top: -19%;
    font-size: xx-small;
}

/* Playing Card CSS ENDS HERE */